<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/main.css">
</head>
<body>
    <header>
        <a href="/">Home</a> 
        <a href="posts">Posts</a>
        <a href="add-post">NewPost</a>
        <a href="contacts">Contacts</a>  
    </header>
    <main>
        Posts:
        <div class="singlepost">
            <a href="post">Post title:</a>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim fuga rerum aliquam possimus molestias dicta. Autem dolorum ipsa, minus architecto quidem, eveniet ab inventore quasi alias dignissimos ducimus quibusdam itaque?</p>
        </div>
    </main>
    <Footer></Footer>
</body>
</html>
