<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
</head>
<body>
    <header></header>
    <main>
        <h1>404</h1>  
    </main>
    <Footer></Footer>
</body>
</html>
