* {
  margin: 0;
  padding: 0:
}

a {
  text-decoration: none;
  font-size: 25px;
  color: rgb(138, 218, 190);
  padding: 10px;
}

p {
  margin:20px;
  font-size: 20px;
}

span {
  font-size: 15px;
}

.sp {
  margin: 10px ;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}

.p1 {
  margin: 20px;
  padding: 20px;
  background-color: rgb(0, 0, 0, 0.3);
}

.singlepost {
  display:flex;
  flex-direction: column;
  list-style-type: none;
  margin: 20px;
  padding: 20px;
  background-color: rgb(0, 0, 0, 0.3);
}

.btncont {
  display:flex;
  justify-content: right;
}

.form-button {
  margin: 20px 100px;
  display: flex;
  justify-content: right;
}

.form-button input {
  text-transform: uppercase;
  padding: 10px 15px;
  cursor: pointer;
}

.form-button input:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

form {
  font-size: 20px;
}

input {
  width: 500px;
  height: 50px;
  background: rgb(0, 0, 0, 0.3);
  color: aliceblue;
}

textarea {
  width: 1200px;
  height: 200px;
  resize: none;
  background: rgb(0, 0, 0, 0.3);
  color: aliceblue;
}
.form-info {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}

.post-form {
  margin: 20px;
  padding: 20px;
  background-color: rgb(0, 0, 0, 0.3);
}

.form-text {
  display: flex;
  justify-content: space-around;
}

header {
  height: 80px;
  background-color: rgb(134, 100, 187);
  display: flex;
  justify-content: right;
}
main {
  padding: 10px;
  background: linear-gradient(purple, rgb(195, 94, 94));
  font-size: 40px;
  color: aliceblue;
  min-height: 79vh;
}
footer {
  height: 50px;
  background-color: rgb(138, 218, 190);
}
